<h1>Mutant registration</h1> 
<div id="container">
<form name="input" action="/posting" method="POST"> 
  <label> Name: <input type="text" name="name" placeholder="ex: Professor X "></label> 
<input type="submit" value="Submit"> 
 
<br> 
<br> 
<form> 
  <input type="checkbox" name="person_type" value="mutant">I am a human<br> 
  <input type="checkbox" name="person_type" value="human">I am a mutant 
</form>  
